@media (width <= 1000px) {

    .btn{
        width: 100%;
        padding: 20px 0;
    }
    .buttons{
        flex-direction: column;
        width: 100%;

    }


    #menu {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      text-decoration: none;
      padding: 0.5rem 0.5rem;
      /* background-color: #eee; */
      margin: auto 0;
      color: #000;
    }
    #menu::before {
      content: "≡";
    }
    #menu.show::before {
      content: "X";
      z-index: 999;
      top: 25px;
      right: 25px;
      position: fixed;
    }
    nav {
      display: none;
      z-index: 999;
      position: fixed;
      width: 270px;
      height: 100vh;
      top: 0;
      right: 0;
    }
    nav ul {
      flex-direction: column;
      padding: 0 20px!important;
      row-gap: 20px;
      width: 100%;
    }
    nav ul li {
      padding-left: 0 !important;
      text-align: center;
      margin: 0;
      padding-top: 4px;
      padding-bottom: 4px;
      border-bottom: 1px solid #999;
  
    }
    nav ul li a{
      font-size: 25px;
      padding: 10px;
      }
  
    /* when the button is clicked - the open class is toggled (added/removed) */
    .show {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .active::before {
      content: "📍"; /* just a wayfinding symbol for the user */
    }
    

    .side_menu::after{
        height: 0!important;

    }
    .side_menu::before{
        height: 0!important;

    }
    
  }
  
  @media (width >= 1000px) {
    #menu {
      display: none;
    }
  }
  