@media (width <= 1000px) {

    .btn{
        width: 100%;
        padding: 20px 0;
    }
    .buttons{
        flex-direction: column;
        width: 100%;

    }


    #menu {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      text-decoration: none;
      padding: 0.5rem 0.5rem;
      /* background-color: #eee; */
      margin: auto 0;
      color: #000;
    }
    #menu::before {
      content: "≡";
      color: #fff;
    }
    #menu.show::before {
      content: "X";
      color:#000;
      z-index: 999;
      top: 25px;
      right: 25px;
      position: fixed;
    }
    nav {
      display: none;
      z-index: 999;
      position: fixed;
      width: 270px;
      height: 100vh;
      top: 0;
      right: 0;
      background-color: var(--accent-color);
    }
    nav ul {
      flex-direction: column;
      padding: 0 20px!important;
      row-gap: 20px;
      width: 100%;
    }
    nav ul li {
      padding-left: 0 !important;
      text-align: center;
      margin: 0;
      padding-top: 4px;
      padding-bottom: 4px;
      border-bottom: 1px solid #999;
  
    }
    nav ul li a{
      font-size: 25px;
      padding: 10px;
      color: #000!important;
      }
  
    /* when the button is clicked - the open class is toggled (added/removed) */
    .show {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .active::before {
      content: "📍"; /* just a wayfinding symbol for the user */
    }
    

    .side_menu::after{
        height: 0!important;

    }
    .side_menu::before{
        height: 0!important;

    }

    .navbar_container {
      
      padding-left: 0px;
      padding-right: 0px;
    }
    /* ********************************************************* */
    
  }
  
  @media (width >= 1000px) {
    #menu {
      display: none;
    }
  }
  /* ****************************************************** */
  @media (width <= 1000px) {
  .vertical-paddings{
    padding-top:64px ;
    padding-bottom: 64px;
  }
}



/* ****************featured agent*************** */


@media (width <= 1000px) {
  .featured_agent {
    flex-direction: column;
    padding-right: 25px;
    padding-left: 25px;
  }

  .text_container {
    padding: 0  ;
    text-align: center;
  }

  .headshot_container img {
    height: auto;
    width: 100%;
  }

}


/* *************************testimonials************ */ 
@media (width <= 1000px) {
  .testimonials_container{
    padding-left: 25px;
    padding-right: 25px;

  }
  .testimonial_item {
    width: 100%;
  }
  .featured_testimonials a {
    max-width: 90%;
  }
}

/* **************************feat property*************  */



@media (width <= 1000px) {
  .featured_properties a {
    max-width: 100%;
  }
}





/* **********************FORM******************************** */
@media (width <= 1000px) {
.form_container{
  padding: 64px 25px;
}

.form_container h2{
  margin-top: 0;
  text-align: center;
}

.form input[type="submit"] {
  max-width: 100%;
}

}

/* **************************footer******************** */
@media (width <= 1000px) {
.contact_information-container {
  
  flex-direction: column;
  padding: 20px 25px;
}
.info-wrap-contact_cell {
  
  padding-left: 0px;
}

footer h2{
  text-align: center;
  padding-bottom: 50px;
}
.info-wrap-contact_zone {
  
  gap: 25px;
}
}

